@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<link rel="stylesheet" href="/css/why-us.css">
<section class="why-us-section">
    <div class="container">
        <div class="why-us-layout">
            
            <div class="why-us-text-content">
                <h2 class="why-us-heading">
                    Birikiminizi koruyun,
                    <span>kazancınızı güvenceye alın!</span>
                </h2>
                <p>
                    Yatırımcıların ihtiyaçlarını ve hayallerini önemseyen Bereketli Topraklar, risksiz yatırım olanakları sunarak, doğayla iç içe, sosyal yaşamı destekleyen alanlar oluşturmayı ilke edinir.
                </p>
            </div>

            <div class="why-us-grid">
                <div class="why-us-card">
                    <div class="card-icon"><i class="fa-solid fa-award"></i></div>
                    <h3 class="card-title">12 Yılın Verdiği Tecrübe</h3>
                </div>

                <div class="why-us-card">
                    <div class="card-icon"><i class="fa-solid fa-file-signature"></i></div>
                    <h3 class="card-title">Hemen Tapu</h3>
                </div>

                <div class="why-us-card">
                    <div class="card-icon"><i class="fa-solid fa-file-invoice-dollar"></i></div>
                    <h3 class="card-title">Kişiye Özel Ödeme Planı</h3>
                </div>

                <div class="why-us-card desktop-only-card">
                    <div class="card-icon"><i class="fa-solid fa-map-location-dot"></i></div>
                    <h3 class="card-title">Tamamı Altyapısı Hazır Arsalar</h3>
                </div>

                <div class="why-us-card desktop-only-card">
                    <div class="card-icon"><i class="fa-solid fa-arrow-trend-up"></i></div>
                    <h3 class="card-title">Yükselen Kazanç</h3>
                </div>

                <div class="why-us-card desktop-only-card">
                    <div class="card-icon"><i class="fa-solid fa-handshake-simple"></i></div>
                    <h3 class="card-title">%99 Müşteri Memnuniyeti</h3>
                </div>
            </div>

        </div>
    </div>
</section>